<!DOCTYPE html>
<html>
<head>
  <title>Avico</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= link_to :main, root_path %>
</body>
</html>
